.add-event-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.add-event-btn:hover {
  background: #1d4ed8;
}

/* Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

/* Popup */
.popup-box {
  width: 90%;
  max-width: 850px;
  background: white;
  border-radius: 18px;
  padding: 25px;
  max-height: 80vh;
  overflow-y: auto;
}

/* Header */
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.popup-header h2 {
  color: #0f172a;
}

.close-btn {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
}

/* Form */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.full-width {
  grid-column: span 2;
}

.form-grid label {
  display: block;
  margin-bottom: 8px;
}

.form-grid input,
.form-grid select,
.form-grid textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dbe2ea;
  border-radius: 10px;
  outline: none;
}

.form-grid input:focus,
.form-grid select:focus,
.form-grid textarea:focus {
  border-color: #2563eb;
}

/* Buttons */
.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
}

.cancel-btn {
  border: 1px solid #cbd5e1;
  background: white;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn {
  border: none;
  background: #2563eb;
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #1d4ed8;
}